.App {
  text-align: center;
  background-color: pink
}

.App-header {
  background-image: linear-gradient(purple, pink);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 5vh;
  background-color: pink
}

img {
  width: 50px;
  height: 40px;
  padding: 3px
}

.logo-img {
  width: 40px;
  height: 40px; padding: 3px;
}
